@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.dback .jum{
    background:  linear-gradient(
      #6621cc80,
      #6621cc80
    ),url("../images/raised_hands.png") center/cover no-repeat;
    min-height:calc(100vh - 200px);
    border-radius: 0rem !important;
    padding:6% !important;
    box-shadow: 0px 5px 10px #777777;
}

.dback .colsty{
  max-width: 6% !important;
}

.dback .prod{

    margin: 3rem;
    font-size: 50px;
    font-family: 'Acme', sans-serif;
}

.dback{
  overflow: hidden;
  background: whitesmoke;
}

.dback h2.pquote{
color: #632780 !important;
  text-align: center;
    font-family: 'Dancing Script', cursive;
}

.dback .layer{
    width:100% !important;
    height: 100% !important;
}

.dback .card{
  margin:30px;
  box-shadow:0px 0px 20px #632780;
  text-align: center !important;
  padding:2px;
  background: #632780;
}
.dback .card img{
  margin:0px auto;
  background:;
  color:white;
  height:340px;
  width:340px;
}
.dback h5{
  font-family:'Righteous','sans-serif';
  font-weight:700;
  font-size:24px;
  color:white;
  background: #632780;
  width:40%;
  margin:0px auto;
  padding:5px 20px 5px 20px;
  border-radius:10px 10px 0px 0px;
  text-transform: uppercase;
}
.dback .btn{
  background: white;
  color:#632780;
  font-family:'Open Sans Condensed','sans-serif';
  font-weight:700;
}
.dback .col-md-12 h2{
  margin:10px;
  margin-bottom:30px;
  font-family: 'Righteous','cursive';
  font-size: 80px;
  color:#63278040;
  text-align: center;
}
  .dback h3{
    font-family: 'Open Sans Condensed','sans-serif';
    font-weight: 700;
    font-size: 34px;
    text-transform: uppercase;
    color:#632780;
    margin: 20px 0px;
  }
  .dback a:hover{
    text-decoration: none;
  }
  /*end of services */
