@import url("https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300;700&family=Righteous&display=swap");

.greeting-body #fullpage {
  background: url("../images/volunteer-edit1.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  margin-top: 10px !important;
  transition: all 1s cubic-bezier(0, 0.57, 0.32, 1.38);
}
.greeting-body #fullpage h1 {
  font-size: 50px;
  text-align: center;
  margin-left: 20px;
  font-weight: 700;
  font-family: "Righteous", cursive;
  padding: 10px;
  color: white;
  margin-top: 50px;
}
.greeting-body #headers {
  background: white;
  margin-top: 300px;
  transition: all 1s linear;
}
.greeting-body #fullpage h1 span {
  font-size: 100px;
}
