@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300;700&family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300;700&family=Oswald:wght@700&family=Righteous&family=Roboto+Slab&display=swap');

.center-btn{
  background-color:white;
  text-align: center;

}

.all_nav{
  margin-top: 2rem;
}
